@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

/*  Global styles  */

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-title: 'Ubuntu', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;
    --fw-semi-bold: 600;

    --clr-light: #CCCCCC;
    --clr-dark: #2D2D34;
    --clr-accent: #CE3467;
    --clr-white: #ffffff;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-body: 1rem;

    /*Layered box shadow*/
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body{
    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
    font-size: var(fs-body);
    color: var(clr-dark);
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
}

h2 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
}

h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

h4 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
}

/*  Header top bar  */

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0.5% 8%;
}

.tb-dark {
    background-color: var(--clr-dark);
}

.tb-dark a {
    color: var(--clr-light);
    text-decoration: none;
}

.tb-white a {
    color: var(--clr-dark);
    text-decoration: none;
}

.top-bar a:hover {
    color: var(--clr-accent);
}

.top-bar-social {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
}

.top-bar-social-item {
    padding: 3% 16%;
    font-size: 1.2rem;
}

/*  Main Header */

.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.main-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

h1 {
    padding-top: 3%;
}

nav {
    width: 55%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.navbar a {
    text-decoration: none;
    color: var(--clr-dark);
    width: 100%;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
}

.navbar a:hover {
    color: var(--clr-accent);
}